.wrap
  .machine-back
  .conveyor
  .shadows
  .gum
  .rays
    .ray-right
    .ray-left
  .window
  .machine-front
  .machine-top
  .light-base
  .light-cover
  .light-mask
    .light-inner



a(href="http://nathan.tokyo" target="_blank").sig NATHAN.TOKYO